# The astype Method
    . The astype method converts a Series's values to a specified type
    . Pass in the specified type as either a string or the core Python data type
    . Pandas cannot convert NaN values to numeric types, so we need to eliminate/replace them before we perform the conversion 
    . The dtypes attributte returns a Series with the DataType's columns and their types

In [1]:
import pandas as pd

In [4]:
nba = pd.read_csv("C:/Users/sharma/Desktop/pandas/pandas/Incomplete/nba.csv").dropna(how = 'all')
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [5]:
nba['Salary'] = nba['Salary'].fillna(0)

In [6]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [7]:
nba['Salary'].astype("int")

0       4556983
1      18700000
2       4094244
3      20616000
4       2581522
         ...
586    27955357
587     1719864
588    10250000
589           0
590     8195122
Name: Salary, Length: 591, dtype: int32

In [9]:
nba['Salary'] = nba['Salary'].astype(int)

In [10]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int32
dtype: object

In [11]:
nba['Salary'].dtypes

dtype('int32')

In [15]:
nba["Team"].nunique()
nba.nunique()

Name        591
Team         30
Position      7
Height       20
Weight       93
College     182
Salary      299
dtype: int64

In [20]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    591 non-null    int32
dtypes: category(1), float64(1), int32(1), object(4)
memory usage: 30.9+ KB

In [19]:
nba['Position'] = nba['Position'].astype("category")

In [21]:
nba["Team"] = nba['Team'].astype('category')

In [22]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    category
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    591 non-null    int32
dtypes: category(2), float64(1), int32(1), object(3)
memory usage: 28.2+ KB