# Copy vs View
    Copy is use to create dublicates of items if we modify in the copy file, our original data remains same
    View is use to hold the original items and if we modify in the view file, our original data will be modify

In [1]:
import pandas as pd

In [7]:
pokemon_df = pd.read_csv("F:/PythonTraining/pokemon.csv", usecols= ["Name"])
pokemon_series = pokemon_df.squeeze()

In [8]:
pokemon_series

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [10]:
pokemon_series[0] = "Anything"

In [11]:
pokemon_series

0           Anything
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [12]:
pokemon_df

              Name
0         Anything
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [15]:
pokemon_series = pokemon_df.squeeze().copy()

In [16]:
pokemon_series

0           Anything
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [17]:
pokemon_series[0] = "Whatever"

In [18]:
pokemon_series

0           Whatever
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [19]:
pokemon_df

              Name
0         Anything
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]