# Differences between Shared Methods
    The sum method adds a Series's value
    On a DataFrame, the sum method defaults to adding the values by traversing the index(row Values)
    The Axis parameter customizes the direction that we add across. Pass "columns" or 1 to add "across" the columns.

In [1]:
import pandas as pd

In [11]:
revenue = pd.read_csv("C:/Users/sharma/Desktop/pandas/pandas/Incomplete/revenue.csv", index_col = "Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/26        985          122    499
1/2/26        738          788    534
1/3/26         14           20    933
1/4/26        730          904    885
1/5/26        114           71    253
1/6/26        936          502    497
1/7/26        123          996    115
1/8/26        935          492    886
1/9/26        846          954    823
1/10/26        54          285    216

In [9]:
s = pd.Series([1,2,3])
s.sum()

6

In [12]:
revenue.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [13]:
revenue.sum(axis = "index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [14]:
revenue.sum(axis = "columns")

Date
1/1/26     1606
1/2/26     2060
1/3/26      967
1/4/26     2519
1/5/26      438
1/6/26     1935
1/7/26     1234
1/8/26     2313
1/9/26     2623
1/10/26     555
dtype: int64

In [16]:
revenue.sum(axis = "columns").sum()

16250

In [19]:
nba = pd.read_csv("C:/Users/sharma/Desktop/pandas/pandas/Incomplete/nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
nba.Team

0           Atlanta Hawks
1           Atlanta Hawks
2           Atlanta Hawks
3           Atlanta Hawks
4           Atlanta Hawks
              ...
587    Washington Wizards
588    Washington Wizards
589    Washington Wizards
590    Washington Wizards
591                   NaN
Name: Team, Length: 592, dtype: object

In [21]:
nba.Salary

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           NaN
590     8195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [22]:
nba.Name

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object